<head>
    <link rel="stylesheet" type="text/css" href="../css/home.css">
</head>
<body class="menu">
    
    <!-- <div class="home"></div> -->
    <!-- <div class="jogging"></div>
    <div class="settings"></div> -->

    <!-- Add this before your script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(function() {
            $(".home").load("home.html");
            //$(".jogging").load("jogging.html");
            //$(".settings").load("settings.html");
    
        });
    </script>
</body>

<section class="menu">

    
</section>